body {
    padding: 10px;
    background-image: url("../images/roadBackground.jpg");
}

div.welcomeDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

img {
    cursor: pointer;
    width: 250px;
    height: 250px;
    position: static;
}

    img:hover {
        border: 3px solid #808080;
    }


.navbar-brand {
    background: url(../images/me.jpg) no-repeat;
    top: -5px;
    background-size: 40px 40px;
    height: 40px;
    margin: 5px;
    width: 40px;
    cursor: pointer;
}

    .navbar-brand.circle {
        border-radius: 50%;
    }


h1, h2, h3 .titleText {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    text-shadow: initial;
    opacity: 0.9;
}

p.footer {
    color: black;
    font-weight: bold;
    font-style: italic;
}
