@{
    ViewData["Title"] = "Welcome to Ivan Uzunov's page";
    Layout = "_Layout";
}


<div class="welcomeDiv" id="welcomeDiv">
    <h2 class="titleText" style="display: none;" id="homeText">Welcome to</h2>
    <h1 class="titleText" style="display: none;" id="homeText">Ivan Uzunov's Website</h1>
    <img style="display: none;" title="Click to enter" id="image" class="img-circle" src="~/images/me.jpg"  onclick="enterSite()">
    <h2 class="titleText" style="display: none;" id="homeText">A .NET developer</h2>
</div>
