@{
    ViewData["Title"] = "Welcome to Ivan Uzunov's page";
    Layout = "_Layout";
}


<div class="welcomeDiv" id="welcomeDiv">
    <h2 class="titleText" style="display: none;" id="homeText">Welcome to</h2>
    <h1 class="titleText" style="display: none;" id="homeText">Ivan Uzunov's</h1>
    <h2 class="titleText" style="display: none;" id="homeText">Website</h2>
    <img style="display: none;" title="Click to enter" id="image" class="img-circle" src="~/images/me.jpg" onclick="enterSite(true)">

    <div id="headings" class="headingsHome" style="display: none;">
        <div id="heading" class="col-xs-4 center-block">
            <img class="center-block imageHeading" id="programmingImageHeading" />
            <h1 class="headingTitle">Programming</h1>
        </div>
        <div id="heading" class="col-xs-4 center-block">
            <img class="center-block imageHeading" id="historyImageHeading" />
            <h1 class="headingTitle">History</h1>
        </div>
        <div id="heading" class="col-xs-4 center-block">
            <img class="center-block imageHeading" id="freeTimeImageHeading" />
            <h1 class="headingTitle">Hobbies</h1>
        </div>
    </div>
</div>






